<h3>Admin Panel</h3>

<%= link_to "create New Survey",new_contests_survey_path%>
<%= link_to "View All Survey's",contests_surveys_path%>
<%= link_to "Create Category"%>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>