	<footer>
		<div class="container">
			<div class="row">
					<div class="col-md-6">
						<p>&copy Rights Reserved  |  Privacy Policy	</p>
					</div>
					<div class="col-md-6">					
						<div class="social-icons">
							<ul>
								<li><a href="#"><img src="/assets/fb.png"></a></li>
								<li><a href="#"><img src="/assets/in.png"></a></li>
								<li><a href="#"><img src="/assets/twitter.png"></a></li>
							</ul>
						</div>
					</div>
			</div>
		</div>
	</footer>
	
	
		<script src="http://code.jquery.com/jquery.js"></script> 
		<script src="js/bootstrap.min.js"></script> 
	
</body>
</html>